* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#achievements-page {
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header {
    display: flex;
    flex-direction: column;
    padding: 2.5vh 3vw;
    background-color: #282828;
    border-bottom: 5px solid darkgoldenrod;
    text-align: left;
}

header h1 {
    color: darkgoldenrod;
    font-size: 35px;
}

header p {
    font-family: 'Cinzel', serif;
    font-size: 11px;
    margin: 0 9px;
    color: #D3D3D3;
}
/*Header ends*/

/*Container starts:*/
#achievements-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
}

nav {
    width: 30%;
    background-color: #282828;
    padding: 3vh;
    border-right: 5px solid darkgoldenrod;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
    margin: 3vh auto;
    padding: 2vh 0;
    color: darkgray;
    font-size: calc(2px + 1.5vw);
    transition: background-color 0.2s;
}

nav a {
    text-decoration: none;
    color: darkgoldenrod;
    transition: color 0.2s;
    font-family: 'Della Respira', serif;
}

nav a:hover {
    color: #e6c300;
}

main {
    width: 70%;
    flex-direction: column;
    background-color: #F5F5F5;
    color: #303030;
    padding: 2vh 2vw;
}

#achievements-title {
    text-align: center;
    color: darkgoldenrod;
    font-size: calc(25px + 0.5vw);
    margin-top: 2vh;
    font-family: 'Della Respira', serif;
    font-weight: 400;
}

#achievements {
    display: flex;
    flex-direction: column;
    margin: 2vh 1vw;
}

.achievement-odd, .achievement-even {
    padding: 3vh 2vw;
    margin: 1vh 0;
}

.achievement-odd{
    border-left: 5px solid darkgoldenrod;
    text-align: left;
}

.achievement-even {
    border-right: 5px solid darkgoldenrod;
    text-align: right;
}

.achievement-even h3, .achievement-odd h3 {
    font-size: calc(18px + 0.5vw);
    font-family: 'Della Respira', serif;
    color: darkgoldenrod;
    margin-bottom: 5px;
}

.achievement-even p, .achievement-odd p {
    font-family: 'DM Serif Display', serif;
    font-size: calc(13px + 0.5vw);
    color: #303030;
}
/*Container ends:*/

/*Footer starts*/
footer {
    background-color: #282828;
    color: #D3D3D3;
    padding: 2vh 2vw;
    text-align: center;
    border-top: 5px solid darkgoldenrod;
    transition: color 0.2s;
    font-size: calc(10px + 0.5vw);
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
}

footer a:hover {
    color: #e6c300;
}
/*Footer ends*/

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    #achievements-page {
        width: 90vw;
    }

    header {
        align-items: center;
    }

    #achievements-container {
        flex-direction: column;
    }

    nav {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid darkgoldenrod;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 1vh 1vw;
        padding: 1vh 2vw;
        font-size: calc(2px + 1.5vw);
    }

    .achievement-odd, .achievement-even {
        padding: 5vh 2vw;
        margin: 1vh 0;
    }
}

