* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#references-page {
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header {
    display: flex;
    flex-direction: column;
    padding: 2.5vh 3vw;
    background-color: #282828;
    border-bottom: 5px solid darkgoldenrod;
    text-align: left;
}

header h1 {
    color: darkgoldenrod;
    font-size: 35px;
}

header p {
    font-family: 'Cinzel', serif;
    font-size: 11px;
    margin: 0 9px;
    color: #D3D3D3;
}
/*Header ends*/

/*Container starts:*/
#references-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
}

nav {
    width: 30%;
    background-color: #282828;
    padding: 3vh;
    border-right: 5px solid darkgoldenrod;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
    margin: 3vh auto;
    padding: 2vh 0;
    color: darkgray;
    font-size: calc(2px + 1.5vw);
    transition: background-color 0.2s;
}

nav a {
    text-decoration: none;
    color: darkgoldenrod;
    transition: color 0.2s;
    font-family: 'Della Respira', serif;
}

nav a:hover {
    color: #e6c300;
}

main {
    width: 70%;
    flex-direction: column;
    background-color: #F5F5F5;
    color: #303030;
    padding: 2vh 2vw;
}

#references-title {
    text-align: center;
    color: darkgoldenrod;
    font-size: calc(25px + 0.5vw);
    margin: 2vh 0;
    font-family: 'Della Respira', serif;
    font-weight: 400;
}

.references-section {
    padding: 2vh 2vw;
    margin-bottom: 2vh;
    text-align: center;
}

.references-section h3 {
    color: darkgoldenrod;
    font-size: calc(17px + 0.5vw);
    font-family: 'Della Respira', serif;
    margin-bottom: 1vh;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid darkgoldenrod;
    padding: 20px;
    text-align: center;
    font-size: calc(12px + 0.5vw);
}

th {
    background-color: #282828;
    color: darkgoldenrod;
    font-family: 'Cinzel', serif;
}

td {
    background-color: #F5F5F5;
    color: #404040;
}
/*Container ends:*/

/*Footer starts*/
footer {
    background-color: #282828;
    color: #D3D3D3;
    padding: 2vh 2vw;
    text-align: center;
    border-top: 5px solid darkgoldenrod;
    transition: color 0.2s;
    font-size: calc(10px + 0.5vw);
}

footer a {
    color: darkgoldenrod;
    text-decoration: none;
}

footer a:hover {
    color: #e6c300;
}
/*Footer ends*/

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    #references-page {
        width: 90vw;
    }

    header {
        align-items: center;
    }

    #references-container {
        flex-direction: column;
    }

    nav {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid darkgoldenrod;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 1vh 1vw;
        padding: 1vh 2vw;
        font-size: calc(2px + 1.5vw);
    }

    table {
        width: 70%;
    }
}

